/*** fonts ***/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/*** reset ***/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*** basic styles and variables ***/
/* 
        --------------------- Sizing Nature Padding
        d     = dynamic
        st    = static

        --------------------- Sizing

        l     = large
        m     = medium
        s     = small
        xs    = extra small
        c     = customized

          
        --------------------- Orientation
        v  = vertical   (top & bottom)
        h  = horizontal (right & left)
  */
  /* 
      --------------------- Sizing Nature Typography
      d     = dynamic
      st    = static
      
      --------------------- Sizing
      xl    = extra large
      l     = large
      m     = medium
      s     = small
      xs    = extra small
      c     = customized
      
      --------------------- Family
      font-family: 'Oswald', sans-serif;
      font-family: 'Plus Jakarta Sans', sans-serif;
*/
html {

  font-size: 62.5%; 
  /*** colors ***/
  --color-primary: rgb(255,255,255);
  --color-secondary: rgb(28, 28, 28);
  --color-secondary-m: rgba(28, 28, 28, 0.4);
  --color-tertiary: rgb(43, 43, 43);
  --color-quaternary: rgb(129, 126, 126);
  /*** padding ***/
  /* Dynamic */
  --padding-d-l-v: calc(2rem + 12vh);
  --padding-d-l-h: calc(2rem + 12vw);

  --padding-d-mc-v: calc(1rem + 4vh);
  --padding-d-mc-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1vh);

  /* Static */
  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;

  /*** typography ***/
  /* Dynmaic */
  --font-size-d-lc: calc(3rem + 3.5vw);
  --font-size-d-l: calc(2rem + 3vw);
  --font-size-d-mc: calc(2rem + 2.5vw);
  --font-size-d-m: calc(1rem + 2vw);
  --font-size-d-sc: calc(1rem + 1.5vw);
  --font-size-d-s: calc(1rem + 1vw);

  /* Static */
  --font-size-st-xl: 4rem;
  --font-size-st-lc: 3.5rem;
  --font-size-st-l: 3rem;
  --font-size-st-mc: 2.5rem;
  --font-size-st-m: 2rem;
  --font-size-st-sc: 1.5rem;
  --font-size-st-s: 1rem;

  /* Family */
  --font-family-title: "Oswald", sans-serif;
  --font-family-content: "Plus Jakarta Sans", sans-serif;

}
body {
  background-color: var(--color-primary);
  font-family: var(--font-family-content);
  line-height: 1.6;
}
a {
  text-decoration: none;
  border-radius: 1rem;
}
li {
  list-style-type: none;
}

/*** utility classes ***/
.section__padding {
  padding: var(--padding-d-l-v) var(--padding-d-l-h);
}
.section__title {
  font-size: var(--font-size-d-sc);
  font-weight: 900;
}
.section__paragraph {
  font-size: var(--font-size-st-sc);
  color: var(--color-quaternary);
}
/*** overall layout ***/
.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem)) [container-end];
  grid-template-rows: repeat(9, min-content);
  justify-content: center;
}
.overall-layout {
  grid-column: container-start / container-end;
}
/************************
HEADER
************************/
.header {
  background-color: var(--color-secondary);
  padding: var(--padding-d-m-v) var(--padding-d-l-h);
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: -49.5rem;
  left: 0;
  height: 50rem;
  width: 100%;
  background-color: var(--color-secondary);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%, 0% 0%);
  z-index: -1;
}
.header__logo img {
  width: 100px;
}
.header__nav {
  display: flex;
  gap: 3rem;
}
.header__nav--link {
  font-size: var(--font-size-st-sc);
  color: var(--color-quaternary);
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.header__nav--link:first-child {
  color: var(--color-primary);
}
.header__nav--link:hover {
  color: var(--color-primary);
}
